{{- if .Values.webui.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "ollama.fullname" . }}-webui
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "ollama.labels" . | nindent 4 }}
    app.kubernetes.io/component: webui
spec:
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "ollama.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: webui
{{- end }}
